[Match]
Virtualization=container
Name=host0

[Network]
DHCP=yes
LinkLocalAddressing=yes
LLDP=yes
EmitLLDP=customer-bridge

[DHCP]
UseTimezone=yes

{% if container.ipv6_container_ips is defined %}
{% for ip in container.ipv6_container_ips %}
[Address]
Address={{ip.address}}/{{ip.netmask}}
{% endfor %}
{% endif %}

{% if container.ipv6_host_ips is defined %}
[Route]
Gateway={{container.ipv6_host_ips[0].address}}

{% if nspawn_container_ipv6_route is defined %}
{% for ip in nspawn_container_ipv6_route %}
[Route]
Gateway={{container.ipv6_host_ips[0].address}}
Destination={{ip.address}}/{{ip.netmask}}
Metric=128

{% endfor %} 
{% endif %} 
{% endif %}
