[Match]
Name=ve-{{container.name}}

[Network]
Address={{container.network.address}}/{{container.network.netmask}}
LinkLocalAddressing=yes
DHCPServer=yes
IPMasquerade=yes
LLDP=yes
EmitLLDP=customer-bridge
IPForward=yes

{% if container.ipv6_host_ips is defined %}
{% for ip in container.ipv6_host_ips %}
[Address]
Address={{ip}}
{% endfor %}
{% endif %}

{% if container.ipv6_container_ips is defined %}
{% for ip in container.ipv6_container_ips %}
[Route]
Destination={{ip}}
{% endfor %}
{% endif %}
